In [1]:
# Q1: import numpy and pandas

import numpy as np
import pandas as pd

In [2]:
# Q2: Set options in pandas (following assessment guidelines):

pd.options.display.max_rows = 30
pd.options.display.max_columns = None
pd.options.display.precision = 3
pd.options.display.max_columns

In [3]:
# Q3: assign the versions of pandas and numpy to variables below

pd_version = pd.__version__
np_version = np.__version__

print(f"Pandas version: {pd_version} \nNumPy version:  {np_version}")

Pandas version: 1.1.3
NumPy version:  1.19.2

In [4]:
# Q4: Read in the csv file "olive.csv" with pandas. 
#     The filename is stored in the variable `olive_path`
#     Assign it to variable `df`

olive_path = 'olive.csv'
df = pd.read_csv(olive_path)

df.sample(5, random_state=0)

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
231,232.South-Apulia,1,3,1341,155,244,6958,1144,32,68,26
268,269.Sicily,1,4,1284,93,265,7235,893,43,77,46
315,316.South-Apulia,1,3,1419,203,176,6973,1083,38,78,27
391,392.Inland-Sardinia,2,5,1105,120,218,7302,1158,23,45,3
179,180.South-Apulia,1,3,1294,159,253,7009,1190,30,52,13

In [5]:
# Q5: How many rows and columns are there in `df`? Put your answer in a variable `df_shape`.
df_shape = df.shape
df_shape

(572, 11)

In [6]:
# Q6: assign the first 2 rows of `df` to `df_first_two`
df_first_two = df.head(2)
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

In [7]:
# Q7: How many distinct data types are there in `df`?

df_data_types_count = int(df.dtypes.value_counts().count())   # this should be an integer
df_data_types_count

2

In [8]:
# Q8: In `df`, create a new column 'sub_region_raw', which will be a copy of the column 'Unnamed: 0'
df['sub_region_raw'] = df['Unnamed: 0'].copy()

# Q9: In `df`, rename 'Unnamed: 0' to 'sub_region_desc'
df.rename({'Unnamed: 0': 'sub_region_desc'}, axis=1, inplace=True)

# Q10: In `df`, rename the column 'area' to: 'sub_region'
df.rename({'area': 'sub_region'}, axis=1, inplace=True)

df.sample(5, random_state=0)

,sub_region_desc,region,sub_region,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic,sub_region_raw
231,232.South-Apulia,1,3,1341,155,244,6958,1144,32,68,26,232.South-Apulia
268,269.Sicily,1,4,1284,93,265,7235,893,43,77,46,269.Sicily
315,316.South-Apulia,1,3,1419,203,176,6973,1083,38,78,27,316.South-Apulia
391,392.Inland-Sardinia,2,5,1105,120,218,7302,1158,23,45,3,392.Inland-Sardinia
179,180.South-Apulia,1,3,1294,159,253,7009,1190,30,52,13,180.South-Apulia

In [9]:
# Q11: In `df`, get the unique values of the field 'region'
region_unique = df.region.unique()
region_unique

array([1, 2, 3])

In [10]:
# Q12: In `df`, how many unique values of the field 'sub_region' are there?
sub_region_unique_count = int(df.sub_region.value_counts().count())  # should be an integer

sub_region_unique_count

9

In [11]:
# Q13: Lets take a look at the field `sub_region_desc`:

# >>> df['sub_region_desc'].head(5)
# 0    1.North-Apulia
# 1    2.North-Apulia
# 2    3.North-Apulia
# 3    4.North-Apulia
# 4    5.North-Apulia

# Looks like 'sub_region_desc' has line numbers attached to the beginning of region name.
# Remove those and get the unique values in that field, assign it to `srd_unique`


import re

func = lambda x:re.sub(r"^[0-9]*.", "", x)

srd_unique = df['sub_region_desc'].apply(func).unique()

srd_unique

array(['North-Apulia', 'Calabria', 'South-Apulia', 'Sicily',
       'Inland-Sardinia', 'Coast-Sardinia', 'Umbria', 'East-Liguria',
       'West-Liguria'], dtype=object)